.notebooks {
  margin-top: 16px;

  .notebook-item {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px dashed #eaeaea;

    a {
      display: inline-block;
      flex: 1;
      font-size: 14px;
      color: black;
      text-decoration: none;
    }

    span {
      font-size: 14px;
      color: #999;
    }
  }
}

@media screen and (min-width: 600px) {
  .notebooks {
    .notebook-item {

      a, span {
        font-size: 16px;
      }
    }
  }
}
