.talks-page {
  min-height: 75vh;

  .talks-page__title {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 12px;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--on-background-border);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 0 var(--shadow-color);
  }

  .talks-page__subtitle {
    font-weight: 500;
    font-size: 1.0625rem;
    color: var(--on-background-grey);
    margin-top: 8px;
  }
}
