.header {
  position: sticky;
  top: 0;

  header {
    border-bottom: 1px solid var(--on-background-border);
    min-height: 55px;
    background-color: var(--background);

    .header__container {
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto auto 1fr;
      padding: 4px 12px;
      max-width: 1200px;

      .header__title {
        display: none;
      }

      .header__drawer_button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 44px;
        min-width: 44px;
        font-size: 24px;
        background-color: transparent;
        border: 0;
        color: var(--on-background);
        cursor: pointer;
      }

      .header__navigation_drawer {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        min-width: 100vw;
        background-color: var(--background);
        opacity: 0;
        min-height: 100vh;
        transition: all 0.3s ease-in-out;

        .header__navigation_drawer_close {
          padding: 8px;
          cursor: pointer;
          background-color: transparent;
          border: none;
          font-size: 32px;
          font-weight: lighter;
          min-width: 44px;
          min-height: 44px;
          margin-left: 8px;
          color: var(--on-background);
        }

        ul {

          li {
            display: block;

            a {
              display: block;
              padding: 16px 32px;
              text-decoration: none;
              color: var(--on-background);
            }

            .active {
              font-weight: bold;
            }

            button {
              display: block;
              text-align: left;
              font-size: 24px;
              width: 100%;
              padding: 16px 32px;
              text-decoration: none;
              color: var(--on-background);
              background-color: transparent;
              border: 0;
              cursor: pointer;
            }
          }
        }
      }

      .open {
        transform: translateX(0);
        opacity: 100%;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .header {
    header {
      .header__container {
        display: grid;
        grid-template-columns: 1fr auto;

        .header__drawer_button {
          display: none;
        }

        .header__title {
          display: block;
          font-size: 19px;
          margin: auto 0;
        }

        .header__navigation_drawer {
          position: static;
          min-width: 0;
          min-height: 0;
          opacity: 100%;
          transition: none;
          transform: translateX(0);
          text-align: left;

          .header__navigation_drawer_close {
            display: none;
          }

          ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
              display: inline;

              a {
                display: inline-block;
              }

              button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
