.header {
  border-bottom: 1px solid #5a5a5a;
  padding: 16px;
  display: grid;
  grid-template-columns: auto auto 1fr;

  .header__drawer_button {

  }

  .header__navigation_drawer {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    min-width: 100vw;
    background-color: white;
    opacity: 0;
    min-height: 100vh;
    transition: all 0.3s ease-in-out;

    .header__navigation_drawer_close {
      padding: 8px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 32px;
      font-weight: lighter;
      min-width: 44px;
      min-height: 44px;
      margin-left: 8px;
    }

    ul {

      li {
        display: block;

        a {
          display: block;
          padding: 16px 32px;
          text-decoration: none;
        }
      }
    }
  }

  .open {
    transform: translateX(0);
    opacity: 100%;
  }
}
