.tag {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  margin: 16px 8px 4px 0;
  border-radius: 12px;
  font-size: 16px;
  
  div {
    display: flex;
    align-items: center;

    * {
      display: inline-block;
    }
  
    svg {
      margin-right: 8px;
    }
  }
}

@media screen and (min-width: 600px){
  .tag {
    font-size: 18px;
  }
}
