.social-medias {
  margin-top: 24px;

  li {
    display: inline-block;

    a {
      display: inline-block;
      margin-right: 12px;
      color: var(--on-background);
      font-size: 24px;
    }
  }
}
