.markdown__content {
  font-size: 14px;

  h3, p {
    margin-bottom: 24px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    line-height: 24px;
  }

  ul {
    list-style-position: inside;
    line-height: 24px;
  }

  pre {
    font-family: monospace;
  }

  code {
    font-family: monospace;
  }
}

@media screen and (min-width: 600px) {
  .markdown__content {
    font-size: 15px;
  }
}
